{% extends 'book/base.html' %}{% block content %}
            <div class="col-md-8"> 
                {% for book in object_list %}
                    <a href="{% url 'book_inspect' pk=book.pk %}"><h2>Title: {{book.title}}</h2></a>
                    <h5>Author: {{book.author}}</h5>
                    <p><strong>Rating: {{book.rating}}</strong></p><br>
                    <p>Sinopsis: {{book.sinopsis}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <br>
        <a href="{% url 'book_create' %}"><button>Add book</button></a>
    </div>
{% endblock %}